*,*::before,*::after{
    box-sizing: border-box;
}

.container {
    width: 640px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-wrap: wrap;
}
/*.news 與 .newContent 你各有寫寬度，請思考移除其中一處試試看，這裡不需要寫那麼多寬度，這會有助於你寫RWD 時，結構可以更簡潔  */

/* .news {
    width: calc(640px - 216px);
} */



/* newsBox的名稱可以再優化 ex.news-items  */
.newsItems {
    display: flex;
    flex-wrap: wrap;
}

.newsContent {
    width: 328px;
    padding-left: 20px;
    padding-right: 20px;
}

.newsContent h2{
    font-size: 20px;
    line-height: 1.2;
}

.newsContent p{
   font-size: 16px;
   line-height: 1.5;
}

.ad {
    width: 216px;
}

.footer {
    width: 640px;
}

.footer p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.colMargin {
    margin-bottom: 24px;
}
