*,*::before,*::after{
    box-sizing: border-box;
}

.container {
    width: 640px;
    margin: 0 auto;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.news {
    width: calc(640px - 216px);
}

.newsBox {
    display: flex;
    flex-wrap: wrap;
}

.newsContent {
    width: 328px;
    padding-left: 20px;
    padding-right: 20px;
}

.newsContent h2{
    font-size: 20px;
    line-height: 1.2;
}

.newsContent p{
   font-size: 16px;
   line-height: 1.5;
}

.ad {
    width: 216px;
}

.footer {
    width: 640px;
}

.footer p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.colMargin {
    margin-bottom: 24px;
}
